/dts-v1/;
/plugin/;

/ {
compatible = "ti,beaglebone", "ti,beaglebone-black";

/* identification */
part-number = "BB-ENC28J60";

/* version */
version = "00A0";

/* state the resources this cape uses */
exclusive-use =
  /* the pin header uses */
  "P9.24", /* gpio0[15] */
  "P9.25", /* gpio3[21] */
  "P9.26", /* gpio0[14] */
  "P9.27", /* gpio3[19] */
  "P9.28",
  "P9.29",
  "P9.30",
  "P9.31",
  "spi1";

fragment@0 {
  target = <&am33xx_pinmux>;
  __overlay__ {
    pinctrl_spi1: pinctrl_spi1_pins {
    pinctrl-single,pins = <                                        
      0x184 0x37  /* P9_24 RST       | IN_PULLUP     | MODE7 */
      0x1ac 0x37  /* P9_25 INT       | IN_PULLUP     | MODE7 */
      0x180 0x37  /* P9_26 WOL       | IN_PULLUP     | MODE7 */
      0x1a4 0x37  /* P9_27 CLKOUT    | IN_PULLUP     | MODE7 */
      0x19c 0x13  /* P9_28 SPI1_CS   | OUTPUT_PULLUP | MODE3 */
      0x194 0x33  /* P9_29 SPI1_D0   | INPUT_PULLUP  | MODE3 */
      0x198 0x13  /* P9_30 SPI1_D1   | OUTPUT_PULLUP | MODE3 */
      0x190 0x3B  /* P9_31 SPI1_SCLK | INPUT_PULLUP  | MODE3 */
      >;
    };
  };
};

fragment@1 {
  target = <&spi1>;
     __overlay__ {
       #address-cells       = <1>;
       #size-cells          = <0>;
       status               = "okay";
       pinctrl-names        = "default";
       pinctrl-0            = <&pinctrl_spi1>;    

       spidev@0{
         compatible         = "microchip,enc28j60";
         reg                = <0>;

	 /* See the documentation for the gpio interrupt-controller defined in
         * the am33xx.dtsi for numbering and parameter interpretations
         * (https://www.kernel.org/doc/Documentation/devicetree/bindings/gpio/gpio-omap.txt)
         */
         interrupt-parent   = <&gpio4>;
         interrupts         = <21 10>;

         spi-max-frequency  = <25000000>;
         gpios              = <&gpio1 15 1
                               &gpio4 21 1
                               &gpio1 14 1
                               &gpio4 19 0>;
       };
       spidev@1{
         compatible         = "spidev";
         reg                = <1>;
         spi-max-frequency  = <25000000>;
       };            
    };
  };
};
